@model string

<div class="container mt-4">
    <h1 class="bg-info text-white p-2">Criar Role</h1>
    <a asp-action="Index" class="btn btn-secondary mt-2">Retornar</a>
    <div asp-validation-summary="All" class="text-danger mt-2"></div>

    <form asp-action="Create" method="post" class="mt-4">
        <div class="form-group">
            <label for="name">Nome:</label>
            <input name="name" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary mt-2">Criar</button>
    </form>
</div>
